:root {
  --poets-org-1446-857177734375x753-1428833007812-default-inter-extra-light-italic-35-65-font-family: "Inter-ExtraLight Italic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-extra-light-italic-35-65-font-size: 35.64999771118164px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-extra-light-italic-35-65-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-extra-light-italic-35-65-font-weight: 200;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-extra-light-italic-35-65-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-extra-light-italic-35-65-line-height: 38.400001525878906px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-extra-light-italic-36-8-font-family: "Inter-ExtraLight Italic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-extra-light-italic-36-8-font-size: 36.79999923706055px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-extra-light-italic-36-8-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-extra-light-italic-36-8-font-weight: 200;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-extra-light-italic-36-8-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-extra-light-italic-36-8-line-height: 38.400001525878906px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-03-font-family: "Inter-MediumItalic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-03-font-size: 26.03125px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-03-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-03-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-03-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-03-line-height: 33.599998474121094px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-36-font-family: "Inter-MediumItalic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-36-font-size: 26.359375px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-36-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-36-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-36-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-36-line-height: 32px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-4-font-family: "Inter-MediumItalic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-4-font-size: 26.399999618530273px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-4-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-4-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-4-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-4-line-height: 32px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-47-font-family: "Inter-MediumItalic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-47-font-size: 26.46875px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-47-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-47-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-47-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-26-47-line-height: 32px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-27-23-font-family: "Inter-MediumItalic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-27-23-font-size: 27.234375px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-27-23-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-27-23-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-27-23-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-27-23-line-height: 32px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-27-78-font-family: "Inter-MediumItalic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-27-78-font-size: 27.78125px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-27-78-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-27-78-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-27-78-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-27-78-line-height: 32px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-39-92-font-family: "Inter-MediumItalic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-39-92-font-size: 39.915626525878906px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-39-92-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-39-92-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-39-92-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-39-92-line-height: 44px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-40-08-font-family: "Inter-MediumItalic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-40-08-font-size: 40.08125305175781px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-40-08-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-40-08-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-40-08-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-40-08-line-height: 44px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-42-19-font-family: "Inter-MediumItalic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-42-19-font-size: 42.1875px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-42-19-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-42-19-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-42-19-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-42-19-line-height: 57.599998474121094px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-44-44-font-family: "Inter-MediumItalic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-44-44-font-size: 44.4375px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-44-44-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-44-44-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-44-44-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-44-44-line-height: 57.599998474121094px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-70-4-font-family: "Inter-MediumItalic",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-70-4-font-size: 70.4000015258789px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-70-4-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-70-4-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-70-4-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-medium-italic-70-4-line-height: 44px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-18-75-font-family: "Inter-Regular", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-18-75-font-size: 18.75px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-18-75-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-18-75-font-weight: 400;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-18-75-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-18-75-line-height: 29.600000381469727px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-18-91-font-family: "Inter-Regular", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-18-91-font-size: 18.90625px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-18-91-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-18-91-font-weight: 400;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-18-91-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-18-91-line-height: 29.600000381469727px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-06-font-family: "Inter-Regular", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-06-font-size: 19.0625px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-06-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-06-font-weight: 400;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-06-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-06-line-height: 29.600000381469727px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-22-font-family: "Inter-Regular", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-22-font-size: 19.21875px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-22-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-22-font-weight: 400;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-22-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-22-line-height: 29.600000381469727px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-38-font-family: "Inter-Regular", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-38-font-size: 19.375px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-38-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-38-font-weight: 400;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-38-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-38-line-height: 30px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-53-font-family: "Inter-Regular", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-53-font-size: 19.53125px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-53-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-53-font-weight: 400;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-53-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-19-53-line-height: 30px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-20-font-family: "Inter-Regular", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-20-font-size: 20px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-20-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-20-font-weight: 400;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-20-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-inter-regular-20-line-height: 30px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-italic-20-font-family: "Roboto-Italic", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-italic-20-font-size: 20px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-italic-20-font-style: italic;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-italic-20-font-weight: 400;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-italic-20-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-italic-20-line-height: 28px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-4-font-family: "Roboto-Medium", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-4-font-size: 14.399999618530273px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-4-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-4-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-4-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-4-line-height: 20px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-4-upper-font-family: "Roboto-Medium",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-4-upper-font-size: 14.399999618530273px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-4-upper-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-4-upper-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-4-upper-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-4-upper-line-height: 21.600000381469727px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-7-font-family: "Roboto-Medium", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-7-font-size: 14.699999809265137px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-7-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-7-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-7-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-14-7-line-height: 14.720000267028809px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-15-13-font-family: "Roboto-Medium", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-15-13-font-size: 15.125px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-15-13-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-15-13-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-15-13-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-15-13-line-height: 24px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-15-5-font-family: "Roboto-Medium", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-15-5-font-size: 15.5px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-15-5-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-15-5-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-15-5-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-15-5-line-height: 24px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-16-font-family: "Roboto-Medium", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-16-font-size: 16px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-16-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-16-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-16-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-16-line-height: 24px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-16-underline-lower-font-family: "Roboto-Medium",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-16-underline-lower-font-size: 16px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-16-underline-lower-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-16-underline-lower-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-16-underline-lower-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-16-underline-lower-line-height: 24px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-20-font-family: "Roboto-Medium", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-20-font-size: 20px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-20-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-20-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-20-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-20-line-height: 24px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-28-font-family: "Roboto-Medium", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-28-font-size: 28px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-28-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-28-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-28-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-28-line-height: 33.599998474121094px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-29-92-font-family: "Roboto-Medium", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-29-92-font-size: 29.924999237060547px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-29-92-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-29-92-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-29-92-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-29-92-line-height: 32px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-30-4-font-family: "Roboto-Medium", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-30-4-font-size: 30.399999618530273px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-30-4-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-30-4-font-weight: 500;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-30-4-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-medium-30-4-line-height: 48px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-14-4-font-family: "Roboto-Regular", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-14-4-font-size: 14.399999618530273px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-14-4-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-14-4-font-weight: 400;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-14-4-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-14-4-line-height: 20.15999984741211px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-16-font-family: "Roboto-Regular", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-16-font-size: 16px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-16-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-16-font-weight: 400;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-16-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-16-line-height: 20px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-20-font-family: "Roboto-Regular", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-20-font-size: 20px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-20-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-20-font-weight: 400;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-20-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-regular-20-line-height: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-16-font-family: "Roboto-SemiBold", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-16-font-size: 16px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-16-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-16-font-weight: 600;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-16-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-16-line-height: 32px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-16-title-font-family: "Roboto-SemiBold",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-16-title-font-size: 16px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-16-title-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-16-title-font-weight: 600;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-16-title-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-16-title-line-height: 28px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-20-font-family: "Roboto-SemiBold", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-20-font-size: 20px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-20-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-20-font-weight: 600;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-20-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-20-line-height: 30px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-20-lower-font-family: "Roboto-SemiBold",
    Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-20-lower-font-size: 20px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-20-lower-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-20-lower-font-weight: 600;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-20-lower-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-20-lower-line-height: 24.959999084472656px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-22-4-font-family: "Roboto-SemiBold", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-22-4-font-size: 22.399999618530273px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-22-4-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-22-4-font-weight: 600;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-22-4-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-22-4-line-height: 32px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-28-font-family: "Roboto-SemiBold", Helvetica;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-28-font-size: 28px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-28-font-style: normal;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-28-font-weight: 600;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-28-letter-spacing: 0px;
  --poets-org-1446-857177734375x753-1428833007812-default-roboto-semibold-28-line-height: 42px;
  --poetsorg-144685717773437-5x-753142883300781-2defaultalabaster: rgba(250, 250, 250, 1);
  --poetsorg-144685717773437-5x-753142883300781-2defaultblack: rgba(0, 0, 0, 1);
  --poetsorg-144685717773437-5x-753142883300781-2defaultboulder: rgba(118, 118, 118, 1);
  --poetsorg-144685717773437-5x-753142883300781-2defaultcarnation: rgba(245, 63, 91, 1);
  --poetsorg-144685717773437-5x-753142883300781-2defaultcerulean: rgba(0, 180, 240, 1);
  --poetsorg-144685717773437-5x-753142883300781-2defaultcrimson: rgba(230, 24, 69, 1);
  --poetsorg-144685717773437-5x-753142883300781-2defaultiron: rgba(230, 231, 232, 1);
  --poetsorg-144685717773437-5x-753142883300781-2defaultloblolly: rgba(196, 205, 213, 1);
  --poetsorg-144685717773437-5x-753142883300781-2defaultnero: rgba(255, 255, 255, 1);
  --poetsorg-144685717773437-5x-753142883300781-2defaultshamrock: rgba(50, 209, 126, 1);
  --poetsorg1446857177734375x7531428833007812defaultblack-squeeze: rgba(242, 248, 250, 1);
  --poetsorg1446857177734375x7531428833007812defaultcatskill-white: rgba(225, 238, 242, 1);
  --poetsorg1446857177734375x7531428833007812defaultcod-gray: rgba(30, 30, 30, 1);
  --poetsorg1446857177734375x7531428833007812defaultdeep-cerulean: rgba(0, 122, 179, 1);
  --poetsorg1446857177734375x7531428833007812defaultebony-clay: rgba(33, 43, 54, 1);
  --poetsorg1446857177734375x7531428833007812defaultmine-shaft: rgba(40, 40, 40, 1);
  --poetsorg1446857177734375x7531428833007812defaultmine-shaft-90: rgba(52, 52, 52, 0.9);
  --poetsorg1446857177734375x7531428833007812defaultpale-sky: rgba(99, 115, 129, 1);
}
